**/.venv/

# Bytecode
__pycache__/
*.py[cod]

# Packaging
*.egg-info/

# IDE
.idea/
.vscode/
!embedded-scripts/.vscode
!embedded-scripts/.vscode/**

# Environment
.env
env.shared
env.*
!*.example

# Coverage
.coverage
coverage.xml

# OS
.DS_Store
htmlcov/

# Pytest cache
.pytest_cache/

# Python cache
*.pyc
venv/
.pytest_tmp/

docs/superpowers
